#overall {
	width: 700px;
	height: 400px;
	margin: auto;
	margin-top: 100px;
}

#head {
	height: 50px;
	width:  700px;
	margin-bottom: 0;
	position: relative;
}

#calendarList{
	position: relative;
	margin: 0;
	height: 350px;
	width: 700px;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}

#calendarList li{
	position: absolute;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	border: solid 1px black;
	font-size: normal;
}

#head div {
	position: absolute;;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}